html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @media (min-width: 576px) { 
        font-size: 75%; 
    }

    @media (min-width: 768px) { 
        font-size: 87.5%; 
    }
    
    @media (min-width: 992px)  {
        font-size: 100%; 
    }
}